:root {
  --color-primary: #00a5cf;
  --color-primary-rgb: 0, 165, 207;

  --color-secondary: #9fffcb;
  --color-secondary-rgb: 159, 255, 203;

  --color-tertiary: #004e64;
  --color-tertiary-rgb: 0, 78, 100;

  --color-dark: #000501;
  --color-dark-rgb: 0, 5, 1;

  --color-medium: #6e6d6f;
  --color-medium-rgb: 110, 109, 111;

  --color-light: #f4f5f8;
  --color-light-rgb: 244, 245, 248;
}
