.nav {
  z-index: 3;

  position: relative;

  &:global(.scan button.share) {
    transform: translate(calc(-50% + 88px), -50%);

    width: 48px;
    height: 48px;
  }

  &:global(.share button.scan) {
    transform: translate(calc(-50% - 84px), -50%);

    width: 48px;
    height: 48px;
  }

  &:global(.scan button.about) {
    transform: translate(calc(-50% - 88px), -50%);

    width: 48px;
    height: 48px;
  }

  &:global(.share button.about) {
    transform: translate(calc(-50% - 148px), -50%);

    width: 48px;
    height: 48px;
  }
}

.action {
  width: 88px;
  height: 88px;
  border-radius: 50%;

  background: linear-gradient(135deg, var(--color-primary), var(--color-secondary));
  color: black;

  border: 0;
  outline: 0;
  cursor: pointer;

  box-shadow: 2px 2px 8px rgba(var(--color-dark-rgb), 0.84), -2px -2px 8px var(--color-tertiary);

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: calc(50% - 32px);
  left: 50%;
  transform: translate(-50%, -50%);

  transition: all 0.25s ease-in;

  &:disabled {
    background: linear-gradient(135deg, var(--color-medium), var(--color-light));
    cursor: initial;
  }

  &:active {
    background: linear-gradient(135deg, var(--color-medium), var(--color-light));
    box-shadow: 2px 2px 8px var(--color-secondary), -2px -2px 8px var(--color-tertiary);
  }
}
