.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #ffffff;
  z-index: 1031;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  visibility: hidden;
  opacity: 0;

  transition: all 0.35s;

  cursor: pointer;

  padding: 16px;
  text-align: center;

  &.open {
    visibility: visible;
    opacity: 1;
  }

  a {
    pointer-events: all;
  }
}

.title {
  max-width: 720px;
  text-shadow: 2px 3px var(--color-secondary);
  margin-top: 1.45rem;
}

.subtitle {
  max-width: 720px;
  text-shadow: 2px 3px var(--color-secondary);
}

.social {
  padding: 0.75rem;

  img {
    filter: drop-shadow(1px 2px 1px var(--color-secondary));
  }
}

.made {
  padding-top: 1.45rem;

  a {
    display: inline-block;
    text-shadow: 1px 2px var(--color-secondary);
  }
}

.close {
  position: absolute;
  top: 1.45rem;
  left: 0.75rem;
}
