.main {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;

  overflow: hidden;

  display: grid;
  grid-template-rows: auto 128px;

  background: rgba(var(--color-dark-rgb), 0.84);
}

.container {
  position: relative;
  width: 100%;
}

.video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(var(--color-dark-rgb), 0.84);
}

.scan {
  position: absolute;
  top: 50%;
  left: 50%;

  width: calc(var(--canvas-height) * 210 / 297);
  height: var(--canvas-height);

  transform: translate(-50%, -50%);

  border-radius: 2px;
  box-shadow: 0 0 16px rgba(var(--color-dark-rgb), 0.84);
}

.nav {
  z-index: 3;

  position: relative;

  &:global(.scan button.share) {
    left: 64%;

    width: 32px;
    height: 32px;

    background: white;

    background: linear-gradient(135deg, var(--color-medium), var(--color-light));
  }

  &:global(.share button.scan) {
    left: 36%;

    width: 32px;
    height: 32px;

    background: white;

    background: linear-gradient(135deg, var(--color-medium), var(--color-light));
  }
}

.action {
  width: 88px;
  height: 88px;
  border-radius: 50%;

  background: linear-gradient(135deg, var(--color-primary), var(--color-secondary));
  color: black;

  border: 0;
  outline: 0;
  cursor: pointer;

  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: calc(50% - 32px);
  left: 50%;
  transform: translate(-50%, -50%);

  transition: all 0.25s ease-in;
}
