.main {
  width: 100%;
  height: 100vh;
}

.video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
}

.scan {
  position: absolute;
  top: 50%;
  left: 50%;

  width: calc(var(--canvas-height) * 210 / 297);
  height: var(--canvas-height);

  transform: translate(-50%, -50%);
}
