.main {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;

  height: 100%;

  overflow: hidden;

  display: grid;
  grid-template-rows: auto 128px;

  background: rgba(var(--color-tertiary-rgb), 0.84);
}

.container {
  position: relative;
  width: 100%;
}

.video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: var(--video-height);
  width: auto;

  max-height: var(--video-max-height);
  max-width: var(--video-max-width);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(var(--color-tertiary-rgb), 0.84);
}

.scan {
  position: absolute;
  top: 50%;
  left: 50%;

  width: calc(var(--canvas-height) * 210 / 297);
  height: var(--canvas-height);

  max-width: calc(100vw - var(--canvas-padding));
  max-height: calc((100vw - var(--canvas-padding)) / 210 * 297);

  transform: translate(-50%, -50%);

  border-radius: 4px;
  box-shadow: 2px 2px 8px rgba(var(--color-dark-rgb), 0.84);

  visibility: visible;
  opacity: 1;

  transition: opacity 0.5s ease-in-out;

  &:global(.hidden) {
    visibility: hidden;
    opacity: 0;
  }
}

.filter {
  &:global(::part(canvas)) {
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: var(--color-tertiary);
  text-shadow: 2px 3px rgba(var(--color-dark-rgb), 0.4);
}
